.jumbo-header{
    background-color: #7667F8 !important;
    /* text-align: left; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

#jumbo-header{
    display: flex;
    justify-content: space-between;
}

#jumbo-header span i{
color: #fff;
font-size: 40px;
}

.jumbo-header h1{
    font-size:40px !important ;
    margin-bottom: 100px;
    color: #fff !important;
}


.jumbo-content-box{
    border: 1px solid #fff;
    border-radius: 8px;
    margin: auto;
    /* padding: 10px 20px; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* margin-left: 10px; */
  
}

.jumbo-content-box div:nth-child(2){
    border-left: 1px solid #dee2e627;
    padding-left: 125px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.jumbo-content-box p:nth-child(1){
    color: #fff;
    font-size: 14px;
    opacity: 50%;
    font-weight: 700;
    margin-top: 20px;

    /* margin-right: 10px; */
}

.jumbo-content-box #pay-txt{
    text-align: right;
}
.date{
    font-weight: 700;
    font-size: 10px;
    opacity: 50%;
    color: #191D2A;
    text-align: left;
}

.participant-card i{
    font-size: 10px;
    color: #ffbd52;
}

.jumbo-content-box p:nth-child(2){
    color: #fff;
    font-size: 20px;
}

.container-description p:nth-child(1){
font-size: 14px;
color: #191D2A;
font-weight: 700;
opacity: 50%;
text-align: left;
}

.container-description p:nth-child(2){
    color: #191D2A;
    font-size: 20px;
    text-align: left;
}

.container-job-type{
    font-size: 10px;
    color: #191D2A;
    font-weight: 700;
    opacity: 50%;
    text-align: left;
}

.calendar-div{
    display: flex;
    align-items: center;
   
}

.participant-details span:nth-child(1){
    display: block;
    color: #030318;
    font-size: 16px;
}



.participant-details span:nth-child(2){
    display: block;
    color: #1A1E2B;
    font-size: 10px;
    opacity: 50%;
}

.participant-details span span.time{
    font-weight: 700;
    display: inline;
    font-size: 10px;
    color: #1A1E2B;
}

.participant-details p{
    margin-bottom: 0;
    color: #191D2A;
    font-weight: 700;
    font-size: 10px;
    opacity: 50%;
}

.participant-details span.time-2{
    margin-top: 10px;
    font-size: 10px;
    color: #191D2A;
    text-align: center;
}

.calender-box-2 {
    display: flex;
    align-items: center;
    border-radius: 8px; 
    color: #191D2A;
    font-size: 16px;
    margin: 8px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 8px;
}



.calender-box-2 span i{
    color:#4169E2;
    margin-right: 15px;
    font-size: 14px;
}

.calender-box div span:nth-child(1){
font-size: 16px;
color: #191D2A;
text-align: left;
}


.calender-box div span:nth-child(2){
    font-size: 12px;
    color: #191D2A;
    text-align: left;
    opacity: 50%;
}

.calender-box-2 .ratings{
    color: #191D2A;
    opacity: 40%;
     text-align: center ;
     font-size: 16px;
      margin: 0px auto;
      max-width: 300px;
      padding: 10px 50px 60px 50px;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    background-color: #F5F7FD;
}

.calender-box-2 .star-ratings{
    margin: 10px auto;
    max-width: 300px;


}

.calender-box-2 .star-ratings span i{
    color: #FFBC53;
    font-size: 18px;
}

.calender-box-2 .star-ratings span .no-fill{
    color: #C0C2C8;
}


.calendar-div .date{
    font-weight: 700;
    font-size: 10px;
    opacity: 50%;
    color: #191D2A;
    text-align: left;
}

.calendar-div .date-2{
    font-size: 16px;
    color: #191D2A;
    text-align: left;
    border: 1px solid #4169E2;
    /* border: 1px solid #4169e24d; */
    margin-right: 10px;
    border-radius: 7px;


}
.calendar-div span{
    display: block;
    margin-left: 5px;
}

.participant-card{
    color: black;
    background-color: #fff;
    padding: 20px;
    display: block;
    justify-content: space-between;
    align-items: center;
    margin-left: -15px;
    margin-right: -15px;
}




.calender-box-2 .btn-file{
            margin: 0 auto;
            max-width: 300px;

    } 


    .calender-box-2 button{
        color: #ffffff;
        font-weight: 700;
         border-radius: 24px;
        border: 1px solid #819DED;
        padding: 10px 50px;
        font-size: 12px;
        background-color: #4169E2;

    }


.pro-photo-1::after{
    font-family: FontAwesome;
    content: "\f111";
    color: #46BE00;
    top: 20px;
    padding: 30px;
    position: relative;
}

.pro-photo-2::after{
    font-family: FontAwesome;
    content: "\f111";
    color:#FFB22F;
    top: 20px;
    padding: 30px;
    position: relative;
}

.pro-photo-3::after{
    font-family: FontAwesome;
    content: "\f111";
    color:#AAADB6;
    top: 20px;
    padding: 30px;
    position: relative;
}


/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 

 }

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 

 }

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 

 }

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 

 }
